/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --cor-de-fundo: #f0f4f5;
    --cor-de-link: #000;
    --colorBoton: #007bff;

    --fuenteRighteous: "Righteous", sans-serif;
    --fondoTransparente: rgba(39, 40, 41, 0.5);

}

* {
    color: white;
    text-shadow: 0 0 30px rgb(190, 81, 249);
    font-family: 'Raleway';
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1;
    background-color: #181a1b;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(182, 105, 224);
}

/* PARTICULAS DE FONDO */
#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1000;
}

/* MENU */

.tudo {
    padding: 0 8%;

}

.menu__title {
    font-size: 30px;
}

section.menu {
    display: flex;
    align-items: stretch;
    font-size: 14px;
    justify-content: space-between;

}

.menu__header {
    display: flex;
    align-items: center;
    /* Alinea verticalmente los elementos dentro del encabezado */
}

.menu__header img {
    margin-right: 10px;
    /* Agrega espacio entre la imagen y el título */
}

section.menu,
.menu__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    /* Elimina los estilos de lista predeterminados */
    padding: 0;
    /* Elimina el relleno predeterminado de la lista */
    align-items: center;

    gap: 15px;
}

.menu__list__item__contato {
    display: none;
}


/*title*/
.title__bio {
    font-size: 52px;
}

.title__profile {
    width: 25%;
    border-radius: 50%;
}

.title__div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


ul.title__network {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

/*Sección sobre mi*/
.about__title {
    margin: 0;
}

.about__paragraph {
    margin: 16px 0 0 0;
}


.about__container {
    background-color: var(--fondoTransparente);

    /* RGB con 50% de opacidad */
    border-radius: 10px;
    padding: 20px;
}


/*Skills*/
.skills__box img {
    width: 60%;
}

.skills__title {
    margin-top: 50px;
    text-align: left;
    font-size: 50px;
    font-family: var(--fuenteRighteous);
}

.title-back-front {
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    font-family: var(--fuenteRighteous);
}

.skills__line {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    padding: 15px;
}

ul {
    padding: 0;
}

.skills__box {
    width: 120px;
    padding: 15px;
}

.skills img {
    width: 100%;
}

/*Hobbies*/
.hobbies__title {
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
}

.hobbies__line {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: space-between;
}

.hobbies__box {
    width: 100%;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
}

/*Formación Académica*/
.formacionAcademicaTitulo {
    font-family: var(--fuenteRighteous);
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.academic__courses {
    background-color: var(--fondoTransparente);
    border-radius: 10px;

}

.academic__courses {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.academic__courses__box {
    flex: 0 0 calc(50% - 20px);
    /* Establece el ancho de cada elemento al 50% menos el espacio entre ellos */
    margin-right: 20px;
    /* Agrega espacio entre los elementos */
    margin-bottom: 20px;
    /* Agrega espacio debajo de los elementos */

}

.academic__title {
    margin-top: 50px;
    text-align: center;
}

.academic__courses__item__img img {
    max-width: 90%;
    height: auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}

.academic__courses__list {
    padding: 0;
}

.academic__courses__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra los elementos horizontalmente */
    text-align: center;
    /* Centra el texto horizontalmente */

}

.academic__courses__item__title,
.academic__courses__item__subtitle {
    text-align: left;
    margin: 20px 80px;
}


/*Experiencia Profesional*/
.experienciaProfecionalTitulo {
    font-family: var(--fuenteRighteous);
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.experience__info {
    margin: 2%;

}

.experience__description {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;

}

.experience__section__title {
    margin-top: 40px;
    text-align: center;
}

.experience {
    overflow: hidden;
    /* Evita que los elementos se desborden */
}

.experiencie__box {
    display: flex;
    align-items: center;
    /* Alinear verticalmente los elementos */
    margin-bottom: 50px;
    /* Espacio entre cada experiencia */
    flex-direction: row-reverse;
}

.experiencie__box1 {
    display: flex;
    align-items: center;
    /* Alinear verticalmente los elementos */
    margin-bottom: 50px;
    /* Espacio entre cada experiencia */
    flex-direction: row;
}

.experience__img {
    width: 60%;
    /* Ajusta el tamaño según lo necesites */
    height: auto;
    /* Ajusta el tamaño según lo necesites */
    margin-left: 20px;
    /* Espacio entre la imagen y el texto */
}

.experience__img {
    max-width: 90%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    display: block;
    margin: 0 10px auto;
    /* Centra horizontalmente la imagen */
    border-radius: 10px;
}

.boton_repositorio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 0;
    width: 150px;
    height: 40px;
    background-color: var(--fondoTransparente);
    color: white;
    border: 1px solid var(--colorBoton);
    border-radius: 5px;
    font-size: 16px;
    transition: transform 0.4s ease;
}

.boton_repositorio:hover {
    transform: scale(1.1);
}

.boton_demo {
    margin: 0 10px;
    width: 100px;
    height: 40px;
    background-color: var(--colorBoton);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: transform 0.4s ease;
}

.boton_demo:hover {
    transform: scale(1.1);
}

/*Contacto*/

.formcontato__form {
    display: block;
    margin: 0 auto;
    width: 50%;
    padding: 20px;
    background-color: var(--fondoTransparente);
    border-radius: 10px;
    text-align: center;
    /* Centra horizontalmente el contenido del formulario */
}

.formcontato__img {
    max-width: 100%;
    display: block;
    margin: 50px auto;
    /* Asegura que la imagen no exceda el ancho del contenedor */
}

.formcontato__text {
    display: flex;
    flex-direction: column;

    /* Centra los elementos horizontalmente */
}

.formcontato__subtext {
    display: block;
    margin: 5px auto;

}

.formcontato__input,
.formcontato__textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

/* Estilo para el botón */
.formcontato__boton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Estilo para el botón al pasar el mouse */
.formcontato__boton:hover {
    background-color: #0056b3;
    /* Color de fondo del botón al pasar el mouse */
}

/*Footer*/
footer * {
    text-shadow: none;
    /* Anula el text-shadow para todos los elementos dentro del footer */
    color: none;
}

.mis-redes {
    font-style: italic;
}

footer {

    font-size: 14px;
    padding: 35px 0 15px;
    margin-top: 50px;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(90, 87, 87, 0.8));
}

/* Estilo para las imágenes de las redes sociales */
footer img {
    width: 100px;
    height: auto;
    margin: 0 5px;
    display: inline-block;
    vertical-align: middle;
    transition: transform 0.4s ease;
}

footer img:hover {
    transform: scale(1.2);
}

.whatsapp {
    width: 120px;
}

/* separador de secciones*/
hr {
    margin: 50px 0;
    box-shadow: 0 0 20px black;
}

/* Estilos para el botón */
#myBtn {
    display: none;
    /* Ocultar el botón por defecto */
    position: fixed;
    /* Fijar el botón en una posición */
    bottom: 140px;
    /* Distancia desde el borde inferior */
    right: -5px;
    /* Distancia desde el borde derecho */
    z-index: 99;
    /* Asegurar que el botón esté por encima de otros elementos */
    cursor: pointer;
    /* Cambiar el cursor al pasar sobre el botón */
    padding: 15px;
    /* Espaciado interno del botón */
    transition: transform 0.4s ease;


}

#myBtn:hover {
    transform: scale(1.1);
}

#myBtn img {
    width: 50px;
}

/*Tablet*/
@media (max-width: 768px) {

    /*Menu*/
    .tudo {
        padding: 0 4%;
    }

    .title__bio {
        font-size: 35px;
    }

    .menu__list__item__contato {
        display: block;
        padding: 10px;
    }

    section.menu {
        display: flex;
        align-items: stretch;
        font-size: 14px;
        justify-content: space-between;

    }

    .menu__header {
        display: flex;
        align-items: center;
        /* Alinea verticalmente los elementos dentro del encabezado */
    }

    .menu__header img {
        margin-right: 10px;
        /* Agrega espacio entre la imagen y el título */
    }

    .menu__list__item {
        display: none;
    }

    /*title*/
    .title__profile {
        width: 25%;
        border-radius: 50%;
    }


    .title__div {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 20px;

    }


    ul.title__network {
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        gap: 10px;

    }

    /*Sección sobre mi*/
    .about__title {
        margin: 0;
    }

    .about__paragraph {
        margin: 16px 0 0 0;
    }

    /*Skills*/
    .skills__title {
        margin-top: 50px;
        text-align: left;
        font-size: 45px;
    }

    .title-back-front {
        margin-top: 50px;
        text-align: center;
        font-size: 30px;
    }

    .skills__line {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-evenly;
        padding: 15px;
    }

    .skills__box {
        width: 80px;
        padding: 15px;
    }

    /*Formación Académica*/
    .formacionAcademicaTitulo {
        font-size: 36px;
    }

    .academic__courses {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .academic__title {
        margin-top: 50px;
        text-align: center;
    }

    .academic__courses__item__img img {
        max-width: 90%;
        height: auto;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
    }

    .academic__courses__list {
        padding: 0;
    }

    .academic__courses__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Centra los elementos horizontalmente */
        text-align: center;
        /* Centra el texto horizontalmente */

    }

    .academic__courses__item__title,
    .academic__courses__item__subtitle {
        text-align: left;
        margin: 20px 35px;
    }


    /*Experiencia Profesional*/
    .experienciaProfecionalTitulo {
        font-size: 36px;
    }

    .experience__info {

        margin: 10px 35px 40px;

    }

    .experience__section__title {
        margin-top: 40px;
        text-align: center;
    }

    .experiencie__box {
        display: flex;
        align-items: flex-start;
        /* Alinear verticalmente los elementos */
        margin-bottom: 20px;
        /* Espacio entre cada experiencia */
        flex-direction: column;
    }

    .experiencie__box1 {
        display: flex;
        align-items: flex-start;
        /* Alinear verticalmente los elementos */
        margin-bottom: 20px;
        /* Espacio entre cada experiencia */
        flex-direction: column;
    }

    .experience__img {
        width: 100%;
        /* Ajusta el tamaño según lo necesites */
        height: auto;
        /* Ajusta el tamaño según lo necesites */
        margin-left: 20px;
        /* Espacio entre la imagen y el texto */
    }

    .experience {
        overflow: hidden;
        /* Evita que los elementos se desborden */
    }

    /*Contacto*/

    .formcontato__form {
        display: block;
        margin: 0 auto;
        width: 80%;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        /* Centra horizontalmente el contenido del formulario */
    }

    .formcontato__img {
        max-width: 100%;
        display: block;
        margin: 50px auto;
        /* Asegura que la imagen no exceda el ancho del contenedor */
    }

    .formcontato__text {
        display: flex;
        flex-direction: column;

        /* Centra los elementos horizontalmente */
    }

    .formcontato__subtext {
        display: block;
        margin: 5px auto;

    }

    .formcontato__input,
    .formcontato__textarea {
        margin-bottom: 10px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
        box-sizing: border-box;
    }

    /* Estilo para el botón */
    .formcontato__boton {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    /* Estilo para el botón al pasar el mouse */
    .formcontato__boton:hover {
        background-color: #0056b3;
        /* Color de fondo del botón al pasar el mouse */
    }

    /*Footer*/
    footer {
        font-size: 14px;
        padding: 35px 0 15px;
        margin-top: 50px;
        text-align: center;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(90, 87, 87, 0.8));
    }

    /* Estilo para las imágenes de las redes sociales */
    footer img {
        width: 90px;
        height: auto;
        margin: 0 5px;
        display: inline-block;
        vertical-align: middle;

    }


}

/*Mobile*/
@media (max-width: 430px) {

    /*Menu*/
    .tudo {
        padding: 0 4%;
    }

    .menu__title {
        font-size: 18px;
    }

    .menu__list__item__contato {
        display: block;

    }

    .title__bio {
        font-size: 25px;
    }

    .title__subsection {
        font-size: 16px;
    }

    section.menu {
        display: flex;
        font-size: 14px;
        align-content: center;
        align-items: baseline;

    }

    .menu__header {
        display: flex;
        align-items: center;
        /* Alinea verticalmente los elementos dentro del encabezado */
    }

    .menu__header img {
        margin-right: 10px;
        /* Agrega espacio entre la imagen y el título */
    }

    .title__div {

        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin-bottom: 20px;

    }

    .menu__list__item {
        display: none;
    }

    /*Titulo*/
    .title__profile {
        width: 50%;
        border-radius: 50%;
    }

    .title__bio {
        text-align: center;
    }

    ul.title__network {
        display: flex;
        justify-content: space-between;
        padding: 0;
        gap: 15px;
        font-size: 90%;
    }

    /*Sección sobre mi*/
    .about__title {
        margin: 0;
    }

    .about__paragraph {
        margin: 16px 0 0 0;
    }


    /*Skills*/
    .skills__title {
        margin-top: 50px;
        text-align: left;
        font-size: 40px;
    }

    .title-back-front {
        margin-top: 50px;
        text-align: center;
        font-size: 30px;
    }

    .skills__line {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-evenly;
        padding: 15px;
    }

    .skills__box {
        width: 80px;
        padding: 15px;
    }



    /*Hobbies*/
    .hobbies__title {
        text-align: center;
    }

    .hobbies__line {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .hobbies__box {
        width: 42%;
        margin-bottom: 20px;
        background-color: rgb(255, 255, 255);
    }


    /*Formación Académica*/
    .formacionAcademicaTitulo {
        font-size: 30px;
    }

    .academic__courses {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .academic__title {
        margin-top: 50px;
        text-align: center;
    }

    .academic__courses__item__img img {
        max-width: 90%;
        height: auto;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
    }

    .academic__courses__list {
        padding: 0;
    }

    .academic__courses__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Centra los elementos horizontalmente */
        text-align: center;
        /* Centra el texto horizontalmente */

    }

    .academic__courses__item__title,
    .academic__courses__item__subtitle {
        text-align: left;
        margin: 20px;
    }


    /*Experiencia Profesional*/
    .experienciaProfecionalTitulo {
        font-size: 30px;
    }

    .experience__info {
        margin: 10px 0px 40px 20px;
    }

    .experience__section__title {
        margin-top: 40px;
        text-align: center;
    }

    .experience {
        overflow: hidden;
        /* Evita que los elementos se desborden */
    }

    .experience__box {
        width: calc(50% - 20px);
        margin: 20px;
        float: left;
        box-sizing: border-box;
    }

    .experience__img {
        max-width: 90%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
        display: block;
        margin: 0 auto;
        /* Centra horizontalmente la imagen */
        border-radius: 10px;
    }


    /*Contacto*/
    .formcontato__form {
        display: block;
        margin: 0 auto;
        width: 80%;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        /* Centra horizontalmente el contenido del formulario */
    }

    .formcontato__img {
        margin-top: 20px;
        margin-bottom: 30px;
        max-width: 100%;
        /* Asegura que la imagen no exceda el ancho del contenedor */
    }

    .formcontato__text {
        text-align: center;
        font-size: 16px;

        /* Centra los elementos horizontalmente */
    }

    .formcontato__subtext {
        display: block;
        margin: 5px auto;

    }

    .formcontato__input,
    .formcontato__textarea {
        margin-bottom: 10px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
        box-sizing: border-box;
    }

    /* Estilo para el botón */
    .formcontato__boton {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    /* Estilo para el botón al pasar el mouse */
    .formcontato__boton:hover {
        background-color: #0056b3;
        /* Color de fondo del botón al pasar el mouse */
    }

    /*Footer*/
    footer {
        font-size: 14px;
        padding: 35px 0 15px;
        margin-top: 50px;
        text-align: center;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(90, 87, 87, 0.8));
    }

    /* Estilo para las imágenes de las redes sociales */
    footer img {
        width: 90px;
        height: auto;
        margin: 0 5px;
        display: inline-block;
        vertical-align: middle;

    }


}