.Home {
    width: 100%;
    margin: 40px auto;
    padding: 0 10px;

    .imagenperfil {
        margin: 15px 0;
        width: 100px;
        border-radius: 100%;
    }

    .imagen-titulo {
        display: flex;
        align-items: center;
    }

    .trabajar {
        border: 1px solid rgb(76, 92, 113);
        padding: 8px 12px;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 600;
        transition: background-color 0.3s ease;
        box-shadow: 0px 0px 4px rgb(2, 128, 225);

        &:hover {
            box-shadow: inset 0px 0px 10px rgb(2, 2, 2);
            background-color: #fcfbf9;
            color: black;
        }
    }

    .frankorasia {
        font-size: 36px;
        font-weight: 700;
        margin: 15px 0;

        .naranja {
            color: #f1bd5c;
        }
    }

    .descripcion {
        font-size: 18px;
        overflow-wrap: break-word;
        width: 100%;
        max-width: 600px;
        filter: drop-shadow(0px 0px 0px rgb(201, 201, 201));

        .naranja {
            color: #f1bd5c;
        }
    }

    .redes {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0px 40px;

        ul {
            list-style: none;
            display: flex;
            gap: 10px;
            font-size: 14px;
            flex-wrap: wrap;

            li {
                border: 1px solid rgb(76, 92, 113);
                padding: 8px 12px;
                border-radius: 8px;
                font-size: 14px;
                font-weight: 600;
                transition: background-color 0.3s ease;
                box-shadow: 0px 0px 4px rgb(2, 128, 225);

                &:hover {
                    box-shadow: inset 0px 0px 10px rgb(2, 2, 2);
                    background-color: #fcfbf9;
                    color: black;
                }

            }
        }

    }

    .experiencia,
    .sobremititulo,
    .formacion {
        display: flex;
        align-items: center;
        font-size: 30px;
        font-weight: 700;
        margin-top: 30px;
    }

    #skills {
        margin-bottom: 30px;
    }

    .proyectos {
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        align-items: center;
        justify-content: space-around;
        gap: 15px;
        align-content: center;
        flex-wrap: wrap;

        .proyect {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            img {
                width: 100%;
                max-width: 600px;
                border-radius: 10px;
                object-fit: cover;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.8);
                transition: transform 0.4s ease;

                &:hover {
                    box-shadow: 0px 8px 100px rgba(54, 5, 248, 0.8);
                    transform: scale(0.97);
                }
            }

            .titulo-proyecto {
                text-align: center;
                font-size: 25px;
                font-weight: 700;
                margin: 10px 0;
            }

            .descripcion-proyecto {
                color: #e4e4e4;
                letter-spacing: 0.09em;
                width: 100%;
                max-width: 600px;

            }


            .btn-code-preview {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 15px;
                margin: 15px 0 40px;

                .code,
                .preview {
                    display: flex;
                    border: 1px solid rgb(76, 92, 113);
                    padding: 8px 12px;
                    border-radius: 8px;
                    cursor: pointer;
                    background-color: rgb(0 0 0);
                    align-items: center;
                    font-size: 16px;
                    font-weight: 600;
                    box-shadow: 0px 0px 4px rgb(2, 128, 225);

                    &:hover {
                        box-shadow: inset 0px 0px 10px rgb(2, 2, 2);
                        background-color: #fbf9fc;
                        color: black;
                    }
                }
            }
        }
    }

    .sobremi {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 100px;

        .naranja {
            color: #f1bd5c;
            opacity: 0.9;
        }

        .imagensobremi {
            width: 250px;
            margin-bottom: 15px;
            filter: drop-shadow(0 0 70px rgb(0, 0, 207));
            /* Ajusta el tamaño y color de la sombra */
        }

        p {
            margin: 10px 0;
        }

    }

    .btn-vermas-vermenos {
        width: 100%;
        display: flex;
        justify-content: center;


        .ver-mas {
            display: flex;
            align-items: center;
            /* Alinea el texto y la flecha verticalmente */
            gap: 8px;
            /* Espacio entre el texto y el icono */
            padding: 10px 20px;
            margin: 20px 0;
            box-shadow: inset 0px 0px 10px rgb(2, 2, 2);
            background-color: #49a61a;
            color: #ffffff;
            border: none;
            cursor: pointer;
            font-size: 16px;
            font-weight: 600;
            border-radius: 8px;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #0066ff;
            }

            .ver-mas-icono {
                font-size: 18px;
                animation: bounce 1s infinite;
            }
        }

    }

    .iconos-svg {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 50px;
        gap: 15px;
        margin: 0 auto;
        flex-wrap: wrap;
        width: 100%;
        padding: 20px;
        color: #d3d3d3;
        filter: drop-shadow(0px 0px 0px rgb(255, 183, 0));

    }


}

@media (min-width: 640px) {
    .Home {
        max-width: 640px;
        padding: 0 25px;

        .redes {
            justify-content: flex-start;
        }

        .sobremi {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;

            p {
                width: 100%;
            }
        }
    }
}

@media (min-width: 768px) {
    .Home {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .Home {
        max-width: 1024px;

        .sobremi {
            font-size: 18px;
        }

        .iconos-svg {
            font-size: 70px;
        }
    }
}

@media (min-width: 1280px) {
    .Home {
        max-width: 1280px;

        .sobremi {
            font-size: 20px;
        }
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}


@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}