.Home {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 40px 10px;
  overflow-x: hidden;
  box-sizing: border-box;
}

@media (min-width: 640px) {
  .Home {
    max-width: 640px;
    padding: 50px 25px;
  }
}

@media (min-width: 768px) {
  .Home {
    max-width: 768px;
    padding: 60px 30px;
  }
}

@media (min-width: 1024px) {
  .Home {
    max-width: 1024px;
    padding: 70px 40px;
  }
}

@media (min-width: 1280px) {
  .Home {
    max-width: 1280px;
    padding: 80px 50px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
