.header {
    width: 100%;
    max-width: 370px;
    margin: 5px auto;
    border-radius: 25px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding: 10px;
    z-index: 1000;
    transition: background-color 0.3s ease, padding 0.3s ease;
    // background-color se controla desde el componente con estilos inline
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: transparent !important;
    transition: background-color 0.3s ease, padding 0.3s ease;
}

ul {
    list-style: none;
    display: flex;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent !important;
}

.header-content li {
    transition: transform 0.4s ease;

    &:hover {
        color: rgb(59, 130, 246);
        transform: scale(0.9);
    }

    .secciones {
        font-size: 14px;
        font-weight: 600;
        padding: 5px;
    }
}

/* Estilo para que el scroll tenga un margen superior de 70px */
section {
    scroll-margin-top: 70px;
}

#proyectos,
#formacion,
#skills {
    scroll-margin-top: 70px;
}

#sobre-mi {
    scroll-margin-top: 120px;
}

@media (min-width: 640px) {
    .header {
        max-width: 400px;

        li {
            .secciones {
                font-size: 16px;
                padding: 8px;
            }
        }
    }
}
