.header {
    width: 100%;
    max-width: 370px;
    margin: 5px auto;
    border-radius: 25px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding: 10px;
    z-index: 1000;
    transition: background-color 0.3s ease, padding 0.3s ease;
    background-color: transparent;

}

.header-scrolled {
    background-color: rgba(0, 0, 0, 0.8);

    padding: 10px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: transparent;
    transition: background-color 0.3s ease, padding 0.3s ease;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 14px;
}

li {
    transition: transform 0.4s ease;

    &:hover {
        transform: scale(0.9);
    }
}

/* Estilo para que el scroll tenga un margen superior de 70px */
section {
    scroll-margin-top: 70px;
}

#proyectos,
#formacion,
#skills {
    scroll-margin-top: 70px;
}

#sobre-mi {
    scroll-margin-top: 120px;
}